<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.7.4</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleExecutable</key>
  <string>MMImageJ</string>
  <key>CFBundleGetInfoString</key>
  <string>https://micro-manager.org/</string>
  <key>CFBundleIconFile</key>
  <string>ImageJ.icns</string>
  <key>CFBundleIdentifier</key>
  <string>org.micro-manager.MMImageJ</string>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeIconFile</key>
      <string>text.icns</string>
      <key>CFBundleTypeName</key>
      <string>ImageJ Document</string>
      <key>CFBundleTypeOSTypes</key>
      <array>
        <string>****</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
    </dict>
  </array>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Micro-Manager</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>2.0-beta</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>LSApplicationCategoryType</key>
  <string>Unknown</string>
  <key>CFBundleVersion</key>
  <string>2.0.0b</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (C) 2005-2018 Regents of the University of California; Open Imaging, Inc.; and Micro-Manager Contributors</string>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
  <key>JavaX</key>
  <dict>
    <key>WorkingDirectory</key>
    <string>$APP_PACKAGE/..</string>
    <key>JVMVersion</key>
    <string>1.8</string>
    <key>ClassPath</key>
    <string>ij.jar</string>
    <key>MainClass</key>
    <string>ij.ImageJ</string>
    <key>VMOptions</key>
    <array>
       <string>-Xms512M</string>
       <string>-Xmx2048M</string>
       <string>-XX:MaxDirectMemorySize=32G</string>
       <string>-XX:CICompilerCount=2</string>
       <string>-XX:+UseConcMarkSweepGC</string>
       <string>-XX:MaxGCPauseMillis=67</string>
    </array>
    <key>Properties</key>
    <dict>
       <key>sun.java2d.dpiaware</key>
       <string>false</string>
    </dict>
  </dict>
 </dict>
</plist>
